@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
html {
  font-size: 10px;
}
.jobsDetail-container {
  background: rgb(35,2,66);
background: linear-gradient(0deg, rgba(35,2,66,1) 0%, rgba(23,1,44,1) 20%, rgba(0,0,0,1) 93%);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workToDo-title {
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto 2%;
  padding: 5rem 0 2rem 0;
  color: #ffffff;
  justify-content: start;
  align-items: start;
}
.workToDo-title h1 {
  font-size: 2.5rem;
  margin: 1rem auto;
}
.workToDo-title p {
  font-size: 1.5rem;
}
.workLink {
  margin: 2%;
  padding: 0 0 1.5rem 0;
  border-radius: 0.5rem;
  /* letter-spacing: 0.15rem; */
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
}
.workLink h1 {
  font-size: 1.5rem;
}
.workLink p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem auto;
}
.workLink input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  width: 100%;
  color: #ffffff;
  /* letter-spacing: 0.15rem; */
  margin: 1rem auto;
}
.workLink input::placeholder {
  color: grey;
  /* letter-spacing: 0.2rem; */
  opacity: 0.8;
}
.workLink input:focus {
  outline: none;
  color: #ffffff;
  /* letter-spacing: 0.1rem; */
}
.popForm-container {
  background-color: #000000;
  padding: 0;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ffffff;
  margin: 0 2%;
}
.jobDetail-top {
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2%;
}

.jobDetail-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  margin: 4.5rem 0 0;
  align-items: center;
  font-weight: 700;
  font-size: 2.5rem;
}
.jobDetail-titleLeft {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.jobDetail-titleLeft p {
  padding-left: 1rem;
}
.jobDetail-titleRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  box-shadow: 0.1px 0.1px 1px 0.1px #ffffff;
  border-radius: 5px;
  padding: 1rem;
}
.jobDetail-img img {
  display: flex;
  /* margin: 5rem 0; */
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #ffffff; */
  cursor: pointer;
}
.jobDetail-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto 2rem;
  justify-content: start;
}
.jobDetail-info h1 {
  font-size: 2rem;
  margin: 0;
}
.jobDetail-info p {
  font-size: 1.5rem;
  font-weight: 100;
  color: grey;
  margin: 0;
}
.jobDetail-details {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  gap: 0.5rem;
  align-items: center;
}
.jobDetail-details p {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.jobDetail-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.jobDetail-requirementjobDetail-title {
  color: #ffffff;
}
.jobDetail-button button {
  background: transparent;
  border-radius: 5px;
  /* box-shadow: 1px 0.5px 2px 1px #ffffff; */
  box-shadow: rgba(0, 0, 0, 0.52) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.52) 0px 1px 6px 0px;
  border: 1px solid #ffffff;
  /* font-family: Arial; */
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 2.5rem;
  text-decoration: none;
  margin: 2.5rem 2rem 2.5rem 0;
  cursor: pointer;
}
.jobDetail-button button:hover {
  box-shadow: rgba(18, 118, 171, 0.12) 0px 2px 4px 0px,
    rgba(16, 124, 157, 0.32) 0px 1px 12px 0px;
  /* box-shadow: 1px 0.5px 2px 1px #095a94; */
  text-decoration: none;
}
.pop-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-button button {
  background: #000;
  border-radius: 5px;
  /* box-shadow: 1px 0.5px 2px 1px #ffffff; */
  box-shadow: rgba(255, 255, 255, 0.52) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.52) 0px 1px 6px 0px;
  border: 1px solid #ffffff;
  /* font-family: Arial; */
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 2.5rem;
  text-decoration: none;
  margin: 2%;
  cursor: pointer;
}
.pop-button button:hover {
  box-shadow: rgba(18, 118, 171, 0.12) 0px 2px 4px 0px,
    rgba(16, 124, 157, 0.32) 0px 1px 12px 0px;
  /* box-shadow: 1px 0.5px 2px 1px #095a94; */
  text-decoration: none;
}
.jobsDetail-container hr {
  border: 0.2rem solid grey;
  max-width: 1000px;
  margin: auto;
}

.jobDetail-bottom {
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
  padding: 0 2%;
  color: #ffffff;
}
.jobDetail-about {
  margin: 2rem 0;
}
.jobDetail-about p {
  font-size: 1.5rem;
  font-weight: 200;
}
.jobDetail-aboutTitle {
  margin: 1rem 0;
  font-size: 2rem;
}
.jobDetail-idealCandidate {
  margin: 2rem 0;
}
.jobDetail-idealCandidate p {
  font-size: 1.5rem;
  font-weight: 200;
}
.jobDetail-idealCandidateTitle {
  margin: 1rem 0;
  font-size: 2rem;
}
.loginToApply {
  color: red;
  padding: 1rem 0;
}
.error-line {
  color: red;
  padding: 1rem 0;
}
.jobDetail-requirements p {
  font-size: 1.5rem;
  font-weight: 200;
}
.jobDetail-requirements ul.dashed {
  list-style-type: none;
}
.jobDetail-requirements ul.dashed > li {
  display: flex;
}
.jobDetail-requirements ul.dashed li {
  display: flex;
  gap: 0.5rem;
  line-height: 2rem;
}
.jobDetail-requirements ul.dashed > li:before {
  content: "-";
  /* text-indent: -5px; */
}
.jobPosted p {
  font-size: 1.5rem;
  color: grey;
  font-weight: 200;
  margin: 2rem 0 0 0;
  padding: 1rem 0;
}
.jobDetail-requirements {
  margin: 5px auto;
}
.jobDetail-requirementsTitle {
  margin: 1rem 0;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .jobDetail-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .jobDetail-title {
    flex-direction: column;
    justify-content: start;
    align-self: start;
    gap: 2rem;
  }
  .jobDetail-titleLeft {
    justify-content: start;
    align-self: start;
  }
}
