
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
html {
  font-size: 10px;
}
.signup-mainContainer{
      margin: 0;
      padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
.signup-container{
        box-sizing: border-box;
  max-width: 700px;
  margin: auto;
  padding: 5rem 2% 0 2%;
  /* color:#FFFFFF; */
  font-size: 2rem;
  text-align: start;
}

.signup-form{
    box-sizing: border-box;
  margin: auto;
  color:#000;
  font-size: 1.5rem;
  font-weight: 700;
}

.signup-form form{
    display: flex;
    flex-direction: column;
}

.signup-form form label{
    margin: 1rem 0;
}

.signup-form form label input, .signup-form form label select{
    margin: 0 1rem;
}
#recruiter-form, #freelacer-form{
  display: none;
}
#recruiter-form label, #freelacer-form label{
  display: flex;
  margin: 1rem 0;
}
.signup-submit{
  margin: 1rem 0 5rem;
}